# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj
*.pdb
*.ipdb
*.ilk
*.tlog
*.res
*.log
*.idb
*.opendb
*.enc
*.db
*.suo
*.VC*

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/aeirosoft/v16/.suo
.vs/aeirosoft/v16/Browse.VC.db
